:root {
    --bg-primary: #000000;
    --bg-secondary: #121212;
    --bg-tertiary: #1F1F1F;
    --btn-white: #FFFFFF;
    --txt-white: #FFFFFF;
    --txt-black: #000000;
    --txt-gray: #B3B3B3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0.75rem 1rem;
    overflow: hidden;
    background-color: var(--bg-primary);
    min-height: 100vh;
}

main {
    min-width: 100%;
    min-height: 765px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.zoom {
    transition: transform 0.2s ease;
}

.zoom:hover {
    transform: scale(1.05);
}

.focus {
    outline: 2px solid var(--txt-white);
    transition: outline-color 0.4s ease;
}

.pointer {
    cursor: pointer;
}

/* header */
header {
    .bi-spotify {
        color: var(--txt-white);
        font-size: 32px;
    }

    .bi-house-door-fill {
        color: var(--txt-white);
        font-size: 20px;
    }

    .bi-search,
    .bi-collection {
        color: var(--txt-gray);
        font-size: 20px;
    }

    .bi-collection::before {
        border-left: 1px solid var(--txt-gray);
        padding: 2px 4px 2px 12px;
    }

    .bi-collection {
        transition: color 0.2s ease;
    }

    .bi-collection:hover {
        color: var(--txt-white);
    }

    .icon-header {
        background-color: var(--bg-tertiary);
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }

    .search-bar {
        background-color: var(--bg-tertiary);
        border: none;
        width: 300px;
        color: var(--txt-gray);
        font-size: 16px;
        outline: none;

        &::placeholder {
            color: var(--txt-gray);
            font-size: 16px;
        }
    }


    .search-box {
        background-color: var(--bg-tertiary);
        padding: 0.25rem 0.75rem;
        border-radius: 22px;
        height: 44px;
    }
}

.controls-header {
    position: relative;

    .bi-arrow-down-circle,
    .bi-bell:hover {
        color: var(--txt-white);
    }

    .bi-bell {
        font-size: 16px;
        color: var(--txt-gray);
    }

    span {
        color: var(--txt-white);
    }

    .profile-header {
        background-color: var(--bg-tertiary);
        width: 48px;
        height: 48px;
        border-radius: 50%;

        img {
            width: 70%;
            height: auto;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .profile-label {
        position: absolute;
        top: 59px;
        right: 9px;
        width: 231.63px;
        background-color: var(--bg-tertiary);
        border-radius: 4px;
        z-index: 1000;

        .bi-box-arrow-up-right {
            color: var(--txt-white);
        }

        ul {
            list-style: none;
            padding: 4px !important;

            a {
                text-decoration: none;
            }


            li {
                padding: 12px 8px 12px 12px;

                span {
                    font-size: 0.875rem;
                    color: var(--txt-gray);
                }
            }

            .border-b {
                border-bottom: 1px solid #b3b3b357;
            }


        }
    }

}

/* Main */

.row {
    height: 100% !important;
    display: flex;
    flex-grow: 1;
}

.box {
    background: rgba(198, 198, 198, 0.082);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
    height: 100%;
}

/* sidebar */
.title {
    padding: 12px 16px 8px 16px;


    i {
        font-size: 30px;
        color: var(--txt-gray);
        line-height: 1;
    }

    button:first-child {
        padding: 4px 8px;

        span {
            font-size: 16px;
            color: var(--txt-gray);
        }
    }

    button {
        background-color: #b3b3b300;
        border: none;
        padding: 8px;
    }
}

.flags {
    position: relative;
    display: flex;
    align-items: center;
    margin: 8px 16px 8px 16px;

    span {
        color: var(--txt-white);
        font-size: 14px;
    }

    button {
        background-color: #FFFFFF1A;
        border-radius: 16px;
        border: none;
        padding: 4px 12px;
        white-space: nowrap;
    }

    i {
        font-size: 24px;
        cursor: pointer;
        color: #8f8f8f;
    }

    .scroller {
        position: absolute;
        width: 101%;
        display: flex;
        justify-content: space-between;
        pointer-events: none;

        .bi {
            z-index: 2;
            display: block;
            width: 45px;
            background-color: #121212;
            pointer-events: auto;
        }

        .bi-arrow-right-circle {
            text-align: end;
            background: rgb(18, 18, 18);
            background: linear-gradient(86deg, rgba(18, 18, 18, 0.07326680672268904) 5%, rgba(18, 18, 18, 0.4458158263305322) 13%, rgba(18, 18, 18, 0.711922268907563) 18%, rgba(18, 18, 18, 0.8463760504201681) 26%, rgba(18, 18, 18, 1) 40%);
        }

        .bi-arrow-left-circle {
            text-align: start;
            background: rgb(18, 18, 18);
            background: linear-gradient(270deg, rgba(18, 18, 18, 0.07326680672268904) 5%, rgba(18, 18, 18, 0.4458158263305322) 13%, rgba(18, 18, 18, 0.711922268907563) 18%, rgba(18, 18, 18, 0.8463760504201681) 26%, rgba(18, 18, 18, 1) 40%);
        }
    }
}

.flags-contents {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.5rem;
    align-items: center;
    scroll-behavior: smooth;
}

.flags-contents::-webkit-scrollbar {
    display: none;
}

.flags-contents {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.active-categories {
    background-color: var(--btn-white) !important;
    border-radius: 16px;
    border: none;
    padding: 4px 12px;
    white-space: nowrap;

    span {
        color: var(--txt-black);
        font-size: 14px;
    }

}


/* yooo stiamo cucinando*/
.order-label {
    position: absolute;
    top: 40px;
    right: 8px;
    width: 160px;
    background-color: var(--bg-tertiary);
    border-radius: 4px;
    z-index: 1000;

    .bi-box-arrow-up-right {
        color: var(--txt-white);
    }

    ul {
        list-style: none;
        padding: 4px 12px !important;

        span {
            font-size: 12px !important;
        }

        li {
            padding: 2px 0px;
            cursor: pointer;

            span {
                font-size: 14px !important;
                color: var(--txt-white) !important;
            }

            i{
                color: var(--txt-white) !important;
            }
        }

        .border-b {
            border-bottom: 1px solid #b3b3b357;
        }


    }
}

.search-part {
    padding: 0px 8px 8px 8px;
    max-height: 650px;
    overflow-y: hidden;
    transition: overflow-y 0.3s ease;
    position: relative;

    .search {
        padding: 2px 4px 0 8px;

        i {
            color: var(--txt-gray);
        }

        button:first-child {
            padding: 8px;
        }

        button {
            background-color: #b3b3b300;
            border: none;
        }

        .filters {
            padding: 4px 16px 4px 16px;
            font-size: 20px;

            span {
                font-size: 14px;
                color: var(--txt-gray);
                vertical-align: middle;
            }

            .bi-list-ul {
                height: 20px;
                vertical-align: middle;
            }

            @media (max-width: 1024px) {
                .text-truncate-laptop {
                  max-width: 75px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
        }

        .input-search {
            background-color: #FFFFFF1A;
            border-radius: 8px;
            height: 34px;

            button {
                padding: 4px 8px;
            }

            .bi-search:focus {
                color: var(--txt-white);
            }

            .bi-search {
                font-size: 16px;
            }

            input {
                background-color: #ffffff00;
                border: none;
                color: var(--txt-white);
                width: 75%;

                &::placeholder {
                    color: var(--txt-white);
                    font-size: 14px;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .results {
        min-height: 650px;
        color: var(--txt-white);

        li {
            padding: 8px 14px;
        }

        img {
            width: 45px;
            height: auto;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        .subtitle-item {
            font-size: 14px;
            font-weight: 400;
            color: var(--txt-gray);
        }
    }
}

.search-part:hover {
    overflow-y: scroll;
    padding: 0px 2px 8px 8px;

}

.search-part::-webkit-scrollbar {
    width: 6px;
}

.search-part::-webkit-scrollbar-track {
    background: #f0f0f000;
}

.search-part::-webkit-scrollbar-thumb {
    background-color: #ffffff38;
}